<section id="productos" class="relative py-28 overflow-hidden bg-linear-to-r from-[#F28C28] to-[#F6C445]">

    <!-- Blobs decorativos -->

    <div class="absolute top-0 left-0 w-96 h-96 bg-white/10 rounded-full blur-3xl">
    </div>

    <div class="absolute bottom-0 right-0 w-96 h-96 bg-white/10 rounded-full blur-3xl">
    </div>

    <!-- Ruta turística punteada -->

    <svg class="absolute inset-0 w-full h-full opacity-20 pointer-events-none" xmlns="http://www.w3.org/2000/svg">

        <path d="M50 300
               C250 100, 450 500, 700 250
               S1100 150, 1400 350" fill="none" stroke="white" stroke-width="3" stroke-linecap="round"
            stroke-dasharray="10 15" />

    </svg>

    <!-- Granadilla abstracta -->

    <div class="absolute top-20 right-20 w-72 h-72 rounded-full border border-white/10">
    </div>

    <div class="absolute top-28 right-28 w-56 h-56 rounded-full border border-white/10">
    </div>

    <div class="absolute top-36 right-36 w-40 h-40 rounded-full border border-white/10">
    </div>

    <!-- Hoja decorativa -->

    <svg class="absolute left-10 bottom-16 w-40 h-40 opacity-10" viewBox="0 0 200 200">

        <path d="M100 20
               C150 50 180 120 100 180
               C20 120 50 50 100 20" fill="none" stroke="white" stroke-width="3" />

    </svg>

    <!-- Partículas -->

    <div class="absolute top-24 left-24 w-3 h-3 rounded-full bg-white/20">
    </div>

    <div class="absolute top-80 left-72 w-2 h-2 rounded-full bg-white/20">
    </div>

    <div class="absolute bottom-40 right-64 w-4 h-4 rounded-full bg-white/20">
    </div>

    <div class="absolute bottom-24 left-1/2 w-2 h-2 rounded-full bg-white/20">
    </div>

    <!-- Contenido -->

    <div class="relative z-10 max-w-7xl mx-auto px-6">

        <div class="text-center">

            <span class="inline-block px-5 py-2 rounded-full bg-white/20 backdrop-blur-md text-white">

                Productos Emblemáticos

            </span>

            <h2 class="mt-6 text-5xl font-extrabold text-white">

                Sabores de Huaranchal

            </h2>

            <p class="mt-4 text-white/80 max-w-2xl mx-auto">

                Descubre los productos agrícolas que representan la identidad
                y riqueza natural de Huaranchal.

            </p>

        </div>

        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8 mt-20">

            <!-- Café -->

            <article 
            pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-l-20 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
            class="group relative overflow-hidden rounded-4xl h-130 shadow-2xl">

                <img 
                    alt="Imagen"
                    src="assets/CAFE-IMG.jpg"
                    class="absolute inset-0 w-full h-full object-cover transition duration-700 group-hover:scale-110">

                <div class="absolute inset-0 bg-linear-to-t from-[#2F5D34] via-transparent to-transparent">
                </div>

                <div class="absolute top-6 left-6">

                    <span class="px-4 py-2 rounded-full bg-white/20 backdrop-blur-md text-white">

                        Huaranchal

                    </span>

                </div>

                <div class="absolute bottom-8 left-8 right-8 text-white">

                    <h3 class="text-4xl font-bold">

                        Café

                    </h3>

                    <p class="mt-3 text-white/80">

                        Uno de los productos más representativos del distrito.

                    </p>

                    <!-- <button class="mt-5 px-5 py-3 rounded-xl bg-white text-[#2F5D34] font-semibold">

                        Conocer más

                    </button> -->

                </div>

            </article>

            <!-- Naranja -->

            <article 
            pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-l-20 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
            class="group relative overflow-hidden rounded-4xl h-130 shadow-2xl">

                <img 
                    alt="Imagen"
                    src="assets/NARANJA-IMG.jpg"
                    class="absolute inset-0 w-full h-full object-cover transition duration-700 group-hover:scale-110">

                <div class="absolute inset-0 bg-linear-to-t from-[#2F5D34] via-transparent to-transparent">
                </div>

                <div class="absolute top-6 left-6">

                    <span class="px-4 py-2 rounded-full bg-white/20 backdrop-blur-md text-white">

                        Huaranchal

                    </span>

                </div>

                <div class="absolute bottom-8 left-8 right-8 text-white">

                    <h3 class="text-4xl font-bold">

                        Naranja

                    </h3>

                    <p class="mt-3 text-white/80">

                        Fruta emblemática del distrito,
                        apreciada por su dulzura y frescura.

                    </p>

                    <!-- <button class="mt-5 px-5 py-3 rounded-xl bg-white text-[#2F5D34] font-semibold">

                        Conocer más

                    </button> -->

                </div>

            </article>

            <!-- Granadilla -->

            <article 
            pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-r-20 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
            class="group relative overflow-hidden rounded-4xl h-130 shadow-2xl">

                <img 
                    alt="Imagen"
                    src="assets/GRANADILLAS-IMG.avif"
                    class="absolute inset-0 w-full h-full object-cover transition duration-700 group-hover:scale-110">

                <div class="absolute inset-0 bg-linear-to-t from-[#2F5D34] via-transparent to-transparent">
                </div>

                <div class="absolute top-6 left-6">

                    <span class="px-4 py-2 rounded-full bg-white/20 backdrop-blur-md text-white">

                        Huaranchal

                    </span>

                </div>

                <div class="absolute bottom-8 left-8 right-8 text-white">

                    <h3 class="text-4xl font-bold">

                        Granadilla

                    </h3>

                    <p class="mt-3 text-white/80">

                        Conocida por su sabor delicado y propiedades nutritivas.

                    </p>

                    <!-- <button class="mt-5 px-5 py-3 rounded-xl bg-white text-[#2F5D34] font-semibold">

                        Conocer más

                    </button> -->

                </div>

            </article>

            <!-- Lima -->

            <article 
            pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-r-20 animate-duration-1000"
    leaveClass="animate-leave fade-out-0"
            class="group relative overflow-hidden rounded-4xl h-130 shadow-2xl">

                <img 
                    alt="Imagen"
                    src="assets/LIMAS-IMG.jpg"
                    class="absolute inset-0 w-full h-full object-cover transition duration-700 group-hover:scale-110">

                <div class="absolute inset-0 bg-linear-to-t from-[#2F5D34] via-transparent to-transparent">
                </div>

                <div class="absolute top-6 left-6">

                    <span class="px-4 py-2 rounded-full bg-white/20 backdrop-blur-md text-white">

                        Huaranchal

                    </span>

                </div>

                <div class="absolute bottom-8 left-8 right-8 text-white">

                    <h3 class="text-4xl font-bold">

                        Lima

                    </h3>

                    <p class="mt-3 text-white/80">

                        Producto tradicional utilizado en la gastronomía regional.

                    </p>

                    <!-- <button class="mt-5 px-5 py-3 rounded-xl bg-white text-[#2F5D34] font-semibold">

                        Conocer más

                    </button> -->

                </div>

            </article>

        </div>

    </div>

</section>