<section (mousemove)="onPanoramaMove($event)" (mouseleave)="onPanoramaLeave()"
    class="relative h-screen overflow-hidden bg-[#0B0B0F]">

    <!-- PANORAMA -->

    <div class="absolute inset-0 overflow-hidden flex justify-center items-center">

        <img src="assets/INICIO/panoramica_01.png" [style.transform]="
        'translate3d(' + translateX + 'px,0,0) scale(1.05)'
      " class="absolute
             h-full
             w-[180%]
             max-w-none
             object-cover
             will-change-transform">

    </div>

    <!-- OVERLAY -->

    <div class="absolute inset-0
           bg-gradient-to-r
           from-black/90
           via-black/50
           to-black/20">
    </div>

    <!-- EFECTOS -->

    <div class="absolute top-20 left-20
           w-96 h-96
           bg-[#F6C445]/10
           rounded-full
           blur-3xl">
    </div>

    <div class="absolute bottom-20 right-20
           w-96 h-96
           bg-[#F28C28]/10
           rounded-full
           blur-3xl">
    </div>

    <!-- CONTENIDO -->

    <div class="relative z-10
           h-full
           max-w-7xl mx-auto
           px-6
           flex items-center">

        <div class="max-w-2xl">

            <span class="inline-flex
               px-5 py-2
               rounded-full
               bg-[#F6C445]/20
               text-[#F6C445]">

                Vista Panorámica Interactiva

            </span>

            <h2 class="mt-8
               text-6xl lg:text-8xl
               font-black
               text-white">

                Explora

                <span class="block
                 text-[#F6C445]">

                    Huaranchal

                </span>

            </h2>

            <p class="mt-8
               text-xl
               leading-9
               text-slate-300">

                Mueve el cursor para recorrer
                los paisajes naturales y descubrir
                la majestuosidad del valle desde
                una perspectiva inmersiva del mirador el Chillín.

            </p>

        </div>

    </div>

    <!-- INDICADOR -->

    <div class="absolute
           bottom-10
           left-1/2
           -translate-x-1/2">

        <div class="px-6 py-3
             rounded-full
             bg-white/10
             backdrop-blur-xl
             border border-white/10
             text-white">

            ← Mueve el cursor →

        </div>

    </div>

</section>