:host {
  display: block;
}

button {
  backdrop-filter: blur(20px);
}

button:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
}

/* Turista flotando */

@keyframes travelerFloat {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }

}

.traveler-float {
  animation: travelerFloat 5s ease-in-out infinite;
}

.turista-mask{
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(0,0,0,.1) 8%,
    rgba(0,0,0,.4) 15%,
    black 25%
  );

  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(0,0,0,.1) 8%,
    rgba(0,0,0,.4) 15%,
    black 25%
  );
}

@keyframes windMove {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-10px) rotate(1deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.tourist-wind {
  animation: windMove 7s ease-in-out infinite;
}

@keyframes fadeBubble {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.tourist-bubble {
  animation: fadeBubble 0.4s ease;
}