.mouse-light {

    position: fixed;

    width: 300px;
    height: 300px;

    border-radius: 9999px;

    background: rgba(246, 196, 69, 0.158);

    filter: blur(100px);

    pointer-events: none;

    transform: translate(-50%, -50%);

    z-index: 9999;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
