<section class="relative py-32 h-120 flex items-center justify-center">

    <img
        alt="Imagen"
        src="assets/CTA-IMG.jpg"
        class="absolute inset-0 w-full h-full object-cover">

    <div class="absolute inset-0 bg-linear-to-b from-[#2F5D34]/40 via-[#23492B]/90 to-[#1E3A22]"></div>

    <div
        class="absolute z-50 max-w-4xl mx-auto text-center px-6">

        <h2
            class="text-5xl font-bold text-white">

            Huaranchal te espera

        </h2>

        <p
            class="mt-6 text-slate-200">

            Vive una experiencia única entre naturaleza,
            cultura y tradición.

        </p>

        <button
            class="mt-8 px-10 py-4 rounded-xl bg-[#F28C28] text-white">

            Comenzar recorrido

        </button>

    </div>

</section>
