/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "tailwindcss-primeui";

:root {
    /* COLORES PRIMARIOS */
    verde_Cafe: #2F5D34;
    verde_Naturaleza: #4F8A3F;
    naranja_Huaranchal:#F28C28;
    amarillo_Frutal: #F6C445;

    /* COLORES SECUNDARIOS */
    lima:#A4C639;
    granadilla: #8E5EA2;
    tierra: #8B5E3C;
    agua: #3FA9F5;

    /* NEUTROS */
    fondo_Principal: #FAFAF7;
    fondo_alternativo:#F5F5F0;
    texto_principal:#1E293B;
    texto_secundario:#64748B;
    bordes: #E2E8F0;

    /* GRADIENTE PRINCIPAL */
    /*Hero Principal: bg-gradient-to-r from-[#2F5D34] via-[#4F8A3F] to-[#A4C639] */
    /* Turismo: bg-gradient-to-r from-[#F28C28] to-[#F6C445] */
    /* Cataratas: bg-gradient-to-r from-[#3FA9F5] to-[#4F8A3F] */
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #F28C28 #f5f5f5;
}

/* Chrome, Edge y Safari */
::-webkit-scrollbar {
    width: 24px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        #F6C445,
        #F28C28,
        #2F5D34
    );
    border-radius: 999px;
    border: 2px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        180deg,
        #F28C28,
        #e07b18,
        #234728
    );
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
}